<html><title>###Data Science course. Write a Data Science blog¶</title></html>

PROJECT 

Who has more earning?
- Depends of the country
- Depends of the gender
- Depends of the age
What is the country has more masters degree?
- Experience by country

### A Look at the Data    ddfdfdf

In order to get a better understanding of the data we will be looking at throughout this lesson, let's take a look at some of the characteristics of the dataset.

First, let's read in the data and necessary libraries.

In [ ]:
###First step clone the repository

#!git clone https://github.com/olgaferro/stack-overflow-developer-survey-2021.git

In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')


df.head()
#df.hist()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN


num_rows = df.shape[0] #Provide the number of rows in the dataset
num_cols = df.shape[1] #Provide the number of columns in the dataset


print('The dataframe has rows:%d  and columns: %d'  % (num_rows, num_cols))

<html><title>Data Science course. Write a Data Science blog¶</title></html>

###
We are going to focus in Responders who are developers and work full- time

In [114]:
# How many differents countries do we have?
# Which countries do we have?


num_rows = df.shape[0] #Provide the number of rows in the dataset
num_cols = df.shape[1] #Provide the number of columns in the dataset


print('The original dataframe has rows:%d  and columns: %d'  % (num_rows, num_cols))
num_countries=df.Country.value_counts()
#num_countries=df["Country"].isnull().mean()==0

#print(num_countries)

# The below should be a bar chart of the proportion of the top 10 countries for the
# individuals in your count_vals if it is set up correctly.

#(num_countries[:10]/df.shape[0]).plot(kind="bar");
#plt.title("Where are you from");


#status_vals = df.Country.value_counts() 





df_dev=df[df.MainBranch=='I am a developer by profession']

df_dev_full_time=df_dev[df_dev.Employment=='Employed full-time']



#We are going to drop the rows withs missing values in CompTotal

df_dev_full_time_drops_rows = df_dev_full_time.dropna(subset=['CompTotal'], how='any')
df_dev_full_time_drops_rows

null=df_dev_full_time_drops_rows.CompTotal.isnull().sum()
print('sum nulls CompTotal after drop',null)

#fill_mode = lambda col: col.fillna(col.mode()[0])

#df_dev_full_time['CompTotal'] = df_dev_full_time.fillna(lambda x: salary_country[x['Country']])

#df.groupby(df['FormalEducation']).mean()['JobSatisfaction'].sort_values().dropna()




df_dev_full_time.shape[0]
# drop columns Professional= Professional developer and EmploymentStatus=Employed full_time


df_dev_full_time_no_nulls=df_dev_full_time.drop(['MainBranch','Employment'], axis=1)






print('The df developers who works full time has rows:%d  and columns: %d'  % (df_dev_full_time.shape[0], df_dev_full_time.shape[1]))


df_dev_full_time_no_nulls.head(100)

The original dataframe has rows:83439  and columns: 48
sum nulls CompTotal before drop  9604
sum nulls CompTotal after drop 0
The df developers who works full time has rows:46884  and columns: 48

,ResponseId,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
3,4,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
9,10,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
10,11,United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc)",16,10,"Developer, back-end",...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
11,12,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,5,"Developer, back-end",...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Too long,Easy,46482.0
12,13,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;...",...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187,United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,20,13,"Developer, mobile;Developer, front-end;Develop...",...,35-44 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,84019.0
187,188,Bahrain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Other (please specify):,20,18,"Developer, front-end;Developer, desktop or ent...",...,35-44 years old,Man,No,Straight / Heterosexual,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,63648.0
188,189,Egypt,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",5,1,"Developer, front-end",...,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,4620.0
190,191,United States of America,Massachusetts,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,10,9,"Developer, front-end;Data scientist or machine...",...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,70000.0
192,193,Ireland,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,7,"Developer, front-end;Developer, back-end",...,25-34 years old,Man,No,Bisexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,91883.0

In [136]:
# Filter the data so that it only contains the survey result from top 15 countries based on the number of total respondents
top_list_countries = list(df_dev_full_time_no_nulls['Country'].value_counts().head(15).index)


# Select only the countries in our previous list
filtered_developer_data = df_dev_full_time_no_nulls[df_dev_full_time_no_nulls['Country'].isin(top_list_countries)]

# Aggregate the data so we can visualize it later
GroupbyCountryCompTotal = filtered_developer_data.groupby(['Country','CompTotal'], as_index=False)['ResponseId'].count()

aggregated_data.head()



# Pivot the data
GroupbyCountryCompTotal = GroupbyCountryCompTotal[['Country', 'CompTotal']]
#pivoted_data = pd.pivot_table(GroupbyCountryCompTotal, index='Country', columns='CompTotal').sort_values()

#Plot


#(status_vals/df.shape[0]).plot(kind="bar");
                                                  
#plt.title("What kind of developer are you?");
# sns.heatmap(df.corr(), annot=True, fmt=".2f");
                                                  
#null=df_dev_full_time.CompTotal.isnull().sum()
print('sum nulls CompTotal before drop ',null)
                                                  
      
        
        
                                                         
########
                                                  
values_Countries =filtered_developer_data.Country.value_counts(ascending=True) #Provide a pandas series of the counts for each FormalEducation status

#df.info()


# The below should be a bar chart of the proportion of individuals in your ed_vals
# if it is set up correctly.

(values_Countries/df.shape[0]).plot(kind="pie");

plt.title("Countries");
#######

ValueError: pie requires either y column or 'subplots=True'

In [32]:
# If you want to know more about what the test function is expecting, 
# you can read the documentation the same way as any other funtion

t.check_rows_cols?

Now that you are familiar with how to test your code - let's have you answer your first question:

### Question 2

**2.** Which columns had no missing values? Provide a set of column names that have no missing values.

In [47]:
no_nulls =df.notnull()#Provide a set of columns with 0 missing values.
#no_nulls =no_nulls.dropna()#Provide a set of columns with 0 missing values.
t.no_null_cols?
print('No nuls',no_nulls)


#quitar=df.notnull()
#df=df.where(quitar).dropna()
#print(df)
#df.head()

display.HTML(t.no_null_cols(no_nulls))

No nuls        Respondent  Professional  ProgramHobby  Country  University  \
0            True          True          True     True        True
1            True          True          True     True        True
2            True          True          True     True        True
3            True          True          True     True        True
4            True          True          True     True        True
5            True          True          True     True        True
6            True          True          True     True        True
7            True          True          True     True        True
8            True          True          True     True        True
9            True          True          True     True        True
10           True          True          True     True        True
11           True          True          True     True        True
12           True          True          True     True        True
13           True          True          True     True        True
14           True          True          True     True        True
15           True          True          True     True        True
16           True          True          True     True        True
17           True          True          True     True        True
18           True          True          True     True        True
19           True          True          True     True        True
20           True          True          True     True        True
21           True          True          True     True        True
22           True          True          True     True        True
23           True          True          True     True        True
24           True          True          True     True        True
25           True          True          True     True        True
26           True          True          True     True        True
27           True          True          True     True        True
28           True          True          True     True        True
29           True          True          True     True        True
...           ...           ...           ...      ...         ...
19072        True          True          True     True        True
19073        True          True          True     True        True
19074        True          True          True     True        True
19075        True          True          True     True        True
19076        True          True          True     True        True
19077        True          True          True     True        True
19078        True          True          True     True        True
19079        True          True          True     True        True
19080        True          True          True     True        True
19081        True          True          True     True        True
19082        True          True          True     True        True
19083        True          True          True     True        True
19084        True          True          True     True        True
19085        True          True          True     True        True
19086        True          True          True     True        True
19087        True          True          True     True        True
19088        True          True          True     True        True
19089        True          True          True     True        True
19090        True          True          True     True        True
19091        True          True          True     True        True
19092        True          True          True     True        True
19093        True          True          True     True        True
19094        True          True          True     True        True
19095        True          True          True     True        True
19096        True          True          True     True        True
19097        True          True          True     True        True
19098        True          True          True     True        True
19099        True          True          True     True        True
19100        True          True          True     True        True
19101        True          True          True     True        True

       EmploymentStatus  FormalEducation  MajorUndergrad  HomeRemote  \
0                  True             True           False       False
1                  True             True            True        True
2                  True             True            True        True
3                  True             True            True        True
4                  True             True            True        True
5                  True             True           False       False
6                  True             True            True        True
7                  True             True            True        True
8                  True             True            True        True
9                  True             True            True        True
10                 True             True            True        True
11                 True             True            True        True
12                 True             True            True       False
13                 True             True            True        True
14                 True             True            True        True
15                 True             True           False        True
16                 True             True           False       False
17                 True             True            True        True
18                 True             True            True        True
19                 True             True            True        True
20                 True             True            True        True
21                 True             True            True        True
22                 True             True            True        True
23                 True             True           False        True
24                 True             True            True        True
25                 True             True            True        True
26                 True             True            True        True
27                 True             True            True        True
28                 True             True            True        True
29                 True             True            True        True
...                 ...              ...             ...         ...
19072              True             True            True        True
19073              True             True            True        True
19074              True             True           False        True
19075              True             True            True        True
19076              True             True            True        True
19077              True             True            True        True
19078              True             True           False        True
19079              True             True            True        True
19080              True             True            True        True
19081              True             True            True        True
19082              True             True            True        True
19083              True             True            True        True
19084              True             True            True        True
19085              True             True            True        True
19086              True             True            True        True
19087              True             True            True        True
19088              True             True            True        True
19089              True             True            True        True
19090              True             True           False        True
19091              True             True            True        True
19092              True             True            True        True
19093              True             True            True        True
19094              True             True           False        True
19095              True             True            True        True
19096              True             True            True        True
19097              True             True            True        True
19098              True             True           False       False
19099              True             True            True        True
19100              True             True            True        True
19101              True             True            True        True

       CompanySize       ...        StackOverflowMakeMoney  Gender  \
0            False       ...                          True    True
1             True       ...                          True    True
2             True       ...                          True    True
3             True       ...                          True    True
4             True       ...                         False   False
5            False       ...                          True   False
6             True       ...                          True    True
7             True       ...                          True    True
8             True       ...                          True    True
9            False       ...                          True    True
10            True       ...                          True    True
11            True       ...                         False   False
12           False       ...                          True    True
13            True       ...                          True    True
14            True       ...                          True    True
15           False       ...                          True    True
16           False       ...                          True    True
17            True       ...                          True    True
18            True       ...                         False   False
19            True       ...                          True    True
20            True       ...                         False   False
21            True       ...                          True    True
22            True       ...                          True    True
23           False       ...                          True    True
24            True       ...                         False   False
25            True       ...                          True    True
26            True       ...                         False   False
27            True       ...                         False   False
28            True       ...                          True    True
29            True       ...                         False   False
...            ...       ...                           ...     ...
19072         True       ...                         False   False
19073         True       ...                         False   False
19074        False       ...                          True    True
19075         True       ...                          True    True
19076         True       ...                          True    True
19077         True       ...                         False   False
19078        False       ...                          True    True
19079         True       ...                         False    True
19080         True       ...                         False   False
19081         True       ...                          True    True
19082         True       ...                         False   False
19083         True       ...                         False    True
19084         True       ...                          True    True
19085         True       ...                          True    True
19086         True       ...                          True    True
19087         True       ...                         False   False
19088         True       ...                          True    True
19089         True       ...                          True    True
19090        False       ...                         False   False
19091         True       ...                          True    True
19092         True       ...                         False   False
19093        False       ...                         False   False
19094        False       ...                          True    True
19095         True       ...                          True    True
19096         True       ...                          True    True
19097         True       ...                          True    True
19098        False       ...                         False   False
19099        False       ...                         False   False
19100         True       ...                          True    True
19101         True       ...                         False   False

       HighestEducationParents   Race  SurveyLong  QuestionsInteresting  \
0                         True   True        True                  True
1                         True   True        True                  True
2                         True   True        True                  True
3                         True   True        True                  True
4                        False  False       False                 False
5                         True   True        True                  True
6                         True   True        True                  True
7                         True   True        True                  True
8                         True   True        True                  True
9                         True   True        True                  True
10                        True   True        True                  True
11                       False  False       False                 False
12                        True   True        True                  True
13                        True   True        True                  True
14                        True   True        True                  True
15                        True   True        True                  True
16                        True   True        True                  True
17                        True   True        True                  True
18                       False  False       False                 False
19                        True   True        True                  True
20                       False  False       False                 False
21                        True   True        True                  True
22                        True   True        True                  True
23                        True   True        True                  True
24                       False  False       False                 False
25                        True   True        True                  True
26                       False  False       False                 False
27                       False  False       False                 False
28                        True   True        True                  True
29                       False  False       False                 False
...                        ...    ...         ...                   ...
19072                    False  False       False                 False
19073                    False  False       False                 False
19074                     True   True        True                  True
19075                     True   True        True                  True
19076                     True   True        True                  True
19077                    False  False       False                 False
19078                     True   True        True                  True
19079                     True   True        True                  True
19080                    False  False       False                 False
19081                     True   True        True                  True
19082                    False  False       False                 False
19083                     True   True        True                  True
19084                     True   True        True                  True
19085                     True   True        True                  True
19086                     True   True        True                  True
19087                    False  False       False                 False
19088                     True   True        True                  True
19089                     True   True        True                  True
19090                    False  False       False                 False
19091                     True   True        True                  True
19092                    False  False       False                 False
19093                    False  False       False                 False
19094                     True   True        True                  True
19095                     True   True        True                  True
19096                     True   True        True                  True
19097                     True   True        True                  True
19098                    False  False       False                 False
19099                    False  False       False                 False
19100                     True   True        True                  True
19101                    False  False       False                 False

       QuestionsConfusing  InterestedAnswers  Salary  ExpectedSalary
0                    True               True   False           False
1                    True               True   False            True
2                    True               True    True           False
3                    True               True   False           False
4                   False              False   False           False
5                    True               True   False           False
6                    True               True   False           False
7                    True               True   False           False
8                    True               True   False           False
9                    True               True   False           False
10                   True               True   False           False
11                  False              False   False           False
12                   True               True   False           False
13                   True               True   False           False
14                   True               True    True           False
15                   True               True   False           False
16                   True               True   False           False
17                   True               True    True           False
18                  False              False    True           False
19                   True               True   False           False
20                  False              False   False           False
21                   True               True   False           False
22                   True               True    True           False
23                   True               True   False           False
24                  False              False   False           False
25                   True               True    True           False
26                  False              False   False           False
27                  False              False   False           False
28                   True               True   False           False
29                  False              False   False           False
...                   ...                ...     ...             ...
19072               False              False   False           False
19073               False              False    True           False
19074                True               True   False           False
19075                True               True   False           False
19076                True               True   False           False
19077               False              False   False           False
19078                True               True   False           False
19079                True               True    True           False
19080               False              False   False           False
19081                True               True   False           False

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Question 3

**3.** Which columns have the most missing values?  Provide a set of column names that have more than 75% if their values missing.

In [44]:
most_missing_cols = #Provide a set of columns with more than 75% of the values missing
#df.notnull().sum()

t.most_missing_cols(most_missing_cols)

SyntaxError: invalid syntax (<ipython-input-44-80515319466c>, line 1)

### Question 4

**4.** Provide a pandas series of the different **Professional** status values in the dataset along with the count of the number of individuals with each status.  Store this pandas series in **status_vals**.  If you are correct, you should see a bar chart of the proportion of individuals in each status.

In [ ]:
status_vals = #Provide a pandas series of the counts for each Professional status

# The below should be a bar chart of the proportion of individuals in each professional category if your status_vals
# is set up correctly.

(status_vals/df.shape[0]).plot(kind="bar");
plt.title("What kind of developer are you?");

### Question 5

**5.** Provide a pandas series of the different **FormalEducation** status values in the dataset along with the count of how many individuals received that formal education.  Store this pandas series in **ed_vals**.  If you are correct, you should see a bar chart of the proportion of individuals in each status.

In [ ]:
ed_vals = #Provide a pandas series of the counts for each FormalEducation status

# The below should be a bar chart of the proportion of individuals in your ed_vals
# if it is set up correctly.

(ed_vals/df.shape[0]).plot(kind="bar");
plt.title("Formal Education");

### Question 6

**6.** Provide a pandas series of the different **Country** values in the dataset along with the count of how many individuals are from each country.  Store this pandas series in **count_vals**.  If you are correct, you should see a bar chart of the proportion of individuals in each country.

In [ ]:
count_vals = #Provide a pandas series of the counts for each Country

# The below should be a bar chart of the proportion of the top 10 countries for the
# individuals in your count_vals if it is set up correctly.

(count_vals[:10]/df.shape[0]).plot(kind="bar");
plt.title("Country");

Feel free to explore the dataset further to gain additional familiarity with the columns and rows in the dataset.  You will be working pretty closely with this dataset throughout this lesson.