In [13]:
import pandas as pd
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

df1.head()

g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
#print(g1)

In [14]:
df1

        name         city
0  Anastasia   California
1       Dima  Los Angeles
2  Katherine   California
3      James   California
4      Emily   California
5    Michael  Los Angeles
6    Matthew  Los Angeles
7      Laura      Georgia
8      Kevin      Georgia
9      Jonas  Los Angeles

In [3]:
lista=list(df1.groupby(['city']).size())
lista

[4, 2, 4]

In [17]:
df1[df1['name'].str.contains("Ana")]

        name        city
0  Anastasia  California

In [ ]:
df = pd.DataFrame([[20, 'EUR'], [31, 'GBP'], [5, 'JPY']], columns=['value', 'currency'])
print df